body {
    font-family: "Arial";
    color: white;
    background-color: rgb(12, 61, 86);
    text-align: center;
    background-image: url(images/raininghearts.gif);
    background-size: cover;
}
/* @media screen and (max-width: 900px) {
    body {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
} */